.git
.gitignore
.github

node_modules
.next

.env
.env.*
!.env.example

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile*
compose*.yaml
docker-compose*.yml

README.md
LICENSE
tests
test
playwright-report
coverage

public/media
backups
